/*
抽出共同部分，以实践sass或者less
背景颜色：#ececec
块背景色：#fff
线条：#eee
#e9e9e9
一级标题：18px
二及标题：16px
三级标题，正文：14px

普通：#666
高亮：#2db7f5
线条颜色

块间距 24px

*/

body,html,h1,h2,h3,h4,h5,h6,p,ul,li,ol{
    padding:0px;
    margin:0px;
}

body{
    font-size:14px;
    font-family: 'Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif';
    overflow-y: auto;
    overflow-x: hidden;

}
a{
    text-underline: none;
}
a:active,a:hover{
    color:#2db7f5;
    text-underline: none;
}
.root{
    height:100%;
    width:100%;
}

.pageContainer{
    overflow-y: hidden;
    height:100%;
    width:100%;
    background: #ececec;
}
.pageHead{
    position:relative;
    height:80px;
    margin-bottom:24px;
    background:#fff;
    border-bottom: solid 1px #eee;
    padding:0px 4%;
}

.pageHead .siteInfo{
    position:absolute;
    top:0px;
    left:4%;
    width:220px;
    height:80px;
}
.pageHead .siteInfo .siteInfo_logo{
    height:40px;
    width:40px;
    margin:20px 20px 20px 0px;
    transition: transform 1s;
}
.pageHead .siteInfo .siteInfo_siteName{
    float:right;
    height:80px;
    line-height:90px;
    font-size:18px;
    color:#666;
    text-transform: uppercase;
}
.pageHead .siteInfo .siteInfo_logo:hover{
    transform: rotate(360deg);

}

.pageHead .siteToolbar{
    margin-left:220px;
    height:80px;
}

.pageHead .siteToolbar .site_nav{
    height:80px;
    float:right;
}

.pageHead .siteToolbar .site_nav li{
    height:80px;
    line-height:80px;
}

.main_wrapper{

    background:#fff;
    overflow: hidden;
    zoom:1;
    margin:0px auto 24px auto;
    border-radius:6px;
    padding:24px 0px 0px 0px;
}

.main_wrapper .main_wrapper_left{
    overflow: hidden;
    border-right:solid 1px #e9e9e9;
    margin-bottom:-10000px;
    padding-bottom:10000px;
   float:left;
    width:199px;
    height:100%;
}
.main_wrapper .main_wrapper_right{
    overflow: hidden;
    margin-bottom:-10000px;
    padding-bottom:10000px;
    float:right;
    height:100%;
    padding-left:24px;
}
.main_wrapper .main_wrapper_right:after{
    content: "";
    font-size:0px;
    clear: both;
}
@media screen and (min-width: 800px){
    .main_wrapper_media{
        width:800px;
    }
    .main_wrapper_media .main_wrapper_left{
        width:199px;
    }
    .main_wrapper_media .main_wrapper_right{
        width:576px;
    }
}
@media screen and (min-width: 900px){
    .main_wrapper_media{
        width:900px;
    }
    .main_wrapper_media .main_wrapper_left{
        width:199px;
    }
    .main_wrapper_media .main_wrapper_right{
        width:676px;
    }
}
@media screen and (min-width: 1024px){
    .main_wrapper_media{
        width:1000px;
    }
    .main_wrapper_media .main_wrapper_left{
        width:199px;
    }
    .main_wrapper_media .main_wrapper_right{
        width:760px;
    }
}
@media screen and (min-width: 1279px) {
    .main_wrapper_media{
        width:1199px;
    }
    .main_wrapper_media .main_wrapper_left{
        width:199px;
    }
    .main_wrapper_media .main_wrapper_right{
        width:976px;
    }
}

@media screen  and (min-width: 1459px) {
    .main_wrapper_media{
        width:1400px;
    }
    .main_wrapper_media .main_wrapper_left{
        width:199px;
    }
    .main_wrapper_media .main_wrapper_right{
        width:1176px;
    }
}

@media screen and  (min-width: 1600px) {
    .main_wrapper_media{
        width:1600px;
    }
    .main_wrapper_media .main_wrapper_left{
        width:200px;
    }
    .main_wrapper_media .main_wrapper_right{
        width:1376px;
    }
}

@media screen  and (min-width: 1919px) {
    .main_wrapper_media{
        width:1900px;
    }
    .main_wrapper_media .main_wrapper_left{
        width:199px;
    }
    .main_wrapper_media .main_wrapper_right{
        width:1676px;
    }
}

@media screen  and (min-width: 2220px) {
    .main_wrapper_media{
        width:2200px;
    }
    .main_wrapper_media .main_wrapper_left{
        width:199px;
    }
    .main_wrapper_media .main_wrapper_right{
        width:1976px;
    }
}
@media screen and (min-width: 2999px) {
    .main_wrapper_media{
        width:2900px;
    }
    .main_wrapper_media .main_wrapper_left{
        width:199px;
    }
    .main_wrapper_media .main_wrapper_right{
        width:2676px;
    }
}
@media screen and (min-width: 3999px) {
    .main_wrapper_media{
        width:3900px;
    }
    .main_wrapper_media .main_wrapper_left{
        width:199px;
    }
    .main_wrapper_media .main_wrapper_right{
        width:3676px;
    }
}
@media screen and (min-width: 4000px){
    .main_wrapper_media{
        width:4000px;
    }
    .main_wrapper_media .main_wrapper_left{
        width:199px;
    }
    .main_wrapper_media .main_wrapper_right{
        width:3776px;
    }
}

.page_footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
}
.page_footer_no_absolute{
    position:static;
}
.page_footer .page_footer_content{
    padding:0px 24px;
    line-height:50px;
    height:50px;
    color:#666;
    font-size:14px;
    background: #fff;
}





